%section.vbox
  %section.scrollable.padder
    = render_breadcrumb

    %section.panel.panel-default
      %header.panel-heading.font-bold Editing address
      .panel-body
        = render 'form'

%h1 Editing address
