%section.vbox
  %section.scrollable.padder
    = render_breadcrumb

    .row
      .col-lg-9
        %section.panel.panel-default
          %header.panel-heading.font-bold Edit Image
          .panel-body
            = render 'form'

      .col-lg-3
        = render "backend/products/side_nav"
