#product_sidenav .bg-primary { color: #FFF; }
#product_sidenav .bg-primary:hover { background-color: #65BD77; }
#product_sidenav .bg-primary:focues { background-color: #65BD77; }

.detail-add-image {
  display: block;
  padding: 10px 15px;
  top: 0px;
  right: 0px;
}

#uploading_image {
  display: none;
  padding: 5px 15px;
  top: 0px;
  right: 0px;
}
